/* 顏色 */

$primary-400: #57a203; /* 主要顏色 */
$primary-300: #c0fa73; /* 主要顏色淺色 */
$primary-200: #e8fec5; /* 主要顏色淺色 */
$primary-100: #f5fee7; /* 主要顏色淺色 */
$neutral-0: #ffffff; /* 中性色0 */
$neutral-100: #f8f9fa; /* 中性色100 */
$neutral-300: #dee2e6; /* 中性色300 */
$neutral-500: #adb5bd; /* 中性色500 */
$neutral-600: #6c757d; /* 中性色600 */
$neutral-900: #212529; /* 中性色900 */
$danger-300: #d74f4f; /* 危險顏色 */
